.Header {
  display: flex;
}

.logo {
  vertical-align: middle;
  border-style: none;
  display: flex;
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 1;
}

ul.subNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 10px auto;
  font-size: 1.2rem;
  list-style: none;
}
