.Table {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h6 {
  text-align: center;
}
.highlight:hover {
  background-color: lightgray;
  color: darkred;
  font-weight: 400;
}
@media (max-width: 800px) {
  .Table {
    overflow: scroll;
    text-align: center;
  }
  .Table::-webkit-scrollbar {
    display: none;
  }
  .table {
    overflow: scroll;
    text-align: center;
  }
}
